.App {
  text-align: center;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  color: #333;
  font-family: "Open Sans";
  height: 100%;
  width: 100%;
}
body input,
body textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
padding: 10px;
width: 50%;
margin-bottom: 5px;
}
.App-header {
padding:10px;
background:blueviolet;
justify-content: space-between;
align-items: center;
text-align: center;
}
.App-intro {
  border: medium none;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px;
  box-sizing: content-box;
 display: table;
 width: 100%;
}
.article-hearder {

  border: medium none;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #ccc;
  display: flex;
  padding: 10px;
}
.newpost {width: 48%; border: solid 1px #ccc; border-radius: 5px;background-color:violet;}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#root .container {
  margin: 0 auto;
  max-width: 1000px;
}
.leftsection {
  float: left;
  width: 48%;
  padding: 3px;
  margin: 1%;
}
.rightsection {
  float: right;
  width: 48%;
  padding: 3px;
  margin: 1%;
  height: 300px;
  overflow: auto;
}
.button:disabled  {
  background-color: #dbf99f;
  color: #333;
}

.button:disabled span {
  cursor:default;
 display: inline-block;
 position: relative;
 transition: 0s;
}


.error {
  border-color: red;
}
.data-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0 15px;
}
.data-list:after {
  content: "";
}
.data-list:after,
.data-list li {
  width: calc(33.33% - 10px);
}
.data-list li {
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 30px;
  width:100%;
}
.data-list li .title {
  color: #ffffff;
  margin-bottom: 30px;
  text-decoration: none;
}
.data-list li .link {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .data-list:after,
  .data-list li {
    width: calc(50% - 8px);
  }
}
@media only screen and (max-width: 400px) {
  .data-list:after,
  .data-list li {
    width: 100%;
  }
}
